:root {
  --key-padding: 2rem;
  --keys-gap: 1rem;
  --outer-box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2), -10px -10px 15px rgba(255, 255, 255, 0.5);
  --inner-box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2) inset,
    -10px -10px 15px rgba(255, 255, 255, 0.5) inset;
  --animation-box-shadow-time: 0.1s;
  --symbol-color: rgba(255, 38, 0, 0.75);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  align-items: center;
  background-color: rgb(226, 226, 226);
  display: flex;
  height: 100vh;
  justify-content: center;
}

.calculator {
  display: grid;
  gap: var(--keys-gap);
  grid-template-columns: repeat(4, 1fr);
  max-width: 500px;
  width: 90%;
}

.calculator__display {
  background-color: rgb(0, 0, 0, 0.15);
  border-radius: 20px;
  box-shadow: var(--outer-box-shadow);
  color: white;
  font-size: 7rem;
  grid-column: span 4;
  height: 10rem;
  margin-bottom: 1rem;
  line-height: 10rem;
  overflow: auto;
  padding: 0 1.5rem;
  text-align: right;
  white-space: nowrap;
}

.calculator__key {
  animation: shadowFadeOut var(--animation-box-shadow-time);
  background-color: transparent;
  border-radius: 50%;
  box-shadow: var(--outer-box-shadow);
  cursor: pointer;
  font-size: 2rem;
  padding: var(--key-padding);
  text-align: center;
}

.calculator__key:hover {
  animation: shadowFadeIn var(--animation-box-shadow-time);
  box-shadow: var(--inner-box-shadow);
}

.calculator__symbol {
  color: var(--symbol-color);
  font-weight: bolder;
}

.calculator__symbol--sum {
  grid-column: 4;
  grid-row: 2;
}

.calculator__symbol--subtract {
  grid-column: 4;
  grid-row: 3;
}

.calculator__symbol--multiplication {
  grid-column: 4;
  grid-row: 4;
}

.calculator__symbol--equal {
  background-color: var(--symbol-color);
  color: white;
  border-radius: 20px;
  grid-column: span 2;
}

/* Transitions */
@keyframes shadowFadeIn {
  0% {
    box-shadow: var(--outer-box-shadow);
  }
  50% {
    box-shadow: none;
  }
  100% {
    box-shadow: var(--inner-box-shadow);
  }
}

@keyframes shadowFadeOut {
  0% {
    box-shadow: var(--inner-box-shadow);
  }
  50% {
    box-shadow: none;
  }
  100% {
    box-shadow: var(--outer-box-shadow);
  }
}
